$url:'./img/';
$gray:#a0a0a0;
$light-gray:#e0e0e0;
$black:#343434;
$blue:#227b9e;
$red:#c75454;
$green:#65922c;
$shadow:0 2px 8px rgba(0,0,0,0.3);

.dropdownGroup {
    display:inline-block;
    position:relative;
}
.dropdown {
    position:absolute;
    top:100%;
    left:50%;
    padding:10px;
    border-radius:6px;
    background-color:#fff;
    box-shadow:$shadow;
    z-index:1;
    .item {
        position:relative;
    }
    button {
        width:100%;
        padding:5px;
        text-align:left;
        &:hover {
            background-color:#f5f6f7;
        }
    }
}

.card {
    max-width:560px;
    margin:0 auto 20px;
    padding:35px;
    border-radius:6px;
    border:1px solid #dce2e6;
    background-color:#fff;
    font-weight: bold;
}
.user {
    display:flex;
    .img {
        width:42px;
        height:42px;
        overflow:hidden;
        border-radius:100%;
        border:1px solid #dfe3e6;
        background:url($url + 'img_user.jpg') no-repeat;
        background-size:cover;
        img {
            width:40px;
            height:40px;
        }
    }
    .info {
        flex:1;
        padding:0 15px;
        .name {
            font-size:16px;
            font-weight:bold;
        }
        .time {
            font-size:12px;
            color:$gray;
        }
    }
    .follow button {
        width:100px;
        padding:8px 0;
        color:#fff;
        border:1px solid $blue;
        border-radius:50px;
        background-color:$blue;
        &.active {
            color:inherit;
            border-color:$black;
            background-color:#fff;
        }
    }
    .more {
        width:40px;
        position:relative;
        .dropdownGroup >button {
            width:40px;
            height:40px;
            text-align:right;
            .fas {
                font-size:24px;
            }
        }
        .dropdown {
            width:160px;
            margin-left:-80px;
        }
    }
}

.title {
    margin-top:20px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}
.contents {
    overflow:hidden;
    max-height:7.5em;
    margin-top:10px;
    line-height:1.5;
    white-space:pre-line;
    cursor:pointer;
    .more {
        color:$gray;
        &:before {
            content:"...";
            color:$black;
        }
    }
}

.added {
    margin-top:15px;
    cursor:pointer;
    &.thumb {
        position:relative;
        overflow:hidden;
        font-weight:bold;
        color:#fff;
        border-radius:6px;
        .inner {
            flex:1;
            position:relative;
            overflow:hidden;
            padding:2px;
        }
        .wrap {
            display:flex;
        }
        img {
            width:100%;
            height:100%;
            object-fit:cover;
        }
        .format_gif:after {
            content:"GIF";
            position:absolute;
            bottom:10px;
            left:10px;
            padding:2px 10px;
            border:1px solid rgba(255,255,255,0.6);
            border-radius:3px;
            background-color:rgba(0,0,0,0.5);
        }
        .format_video:after {
            content:"\f144";
            position:absolute;
            top:50%;
            left:0;
            width:100%;
            margin-top:-0.5em;
            text-align:center;
            font:48px 'fontawesome';
            opacity:0.5;
        }
        .more {
            display:flex;
            align-items:center;
            justify-content:center;
            position:absolute;
            bottom:0;
            right:0;
            width:33.33%;
            height:33.33%;
            font-size:32px;
        }
        &:not(.thumbtype_1) {
            padding-bottom:100%;
            .box {
                display:flex;
                position:absolute;
                top:-2px;
                left:-2px;
                right:-2px;
                bottom:-2px;
            }
        }
        &.thumbtype_2 {
            .wrap {
                flex:1;
            }
            &.thumbratio_w {
                .box {
                    flex-direction:column;
                }
            }
        }
        &.thumbtype_3 {
            .wrap {
                flex:1;
            }
            &.thumbratio_w {
                .box {
                    flex-direction:column;
                    .wrap {
                        flex-direction:row;
                    }
                }
            }
            &.thumbratio_h {
                .wrap {
                    flex-direction:column;
                }
            }
            &.thumbratio_q {
                padding-bottom:120%;
                .box {
                    flex-direction:column;
                    .wrap {
                        flex:3;
                        &:not(:first-of-type) {
                            flex:2;
                            flex-direction:row;
                        }
                    }
                }
            }
            
        }
        &.thumbtype_4 {
            .wrap {
                flex:2;
                &:not(:first-of-type) {
                    flex:1;
                }
            }
            &.thumbratio_w {
                .box {
                    flex-direction:column;
                }
            }
            &.thumbratio_h {
                .wrap {
                    flex-direction:column;
                }
            }
            &.thumbratio_q {
                .box {
                    flex-direction:column;
                    .wrap {
                        flex:1;
                        flex-direction:row;
                    }
                }
            }
        }
        &.thumbtype_5 {
            .wrap {
                flex:2;
                &:not(:first-of-type) {
                    flex:1;
                }
            }
            &.thumbratio_w {
                .box {
                    flex-direction:column;
                }
                .wrap:not(:first-of-type) .inner:last-of-type {
                    display:none;
                }
            }
            &.thumbratio_h {
                .wrap {
                    flex-direction:column;
                    &:not(:first-of-type) .inner:last-of-type {
                        display:none;
                    }
                }
            }
            &.thumbratio_q {
                padding-bottom:85%;
                .box {
                    flex-direction:column;
                    .wrap {
                        flex:3;
                        flex-direction:row;
                        &:not(:first-of-type) {
                            flex:2;
                        }
                    }
                }
                .more {
                    height:40%;
                }
            }
            &:not(.thumbratio_q) {
                .wrap:not(:first-of-type) .inner:nth-last-of-type(2):before {
                    content:"";
                    position:absolute;
                    top:2px;
                    left:2px;
                    right:2px;
                    bottom:2px;
                    background-color:rgba(0,0,0,0.5);
                }
            }
        }
    }
    img {
        width:100%;
        height:100%;
    }
    video {
        width:100%;
        height:100%;
    }
    
    &.share {
        .url {
            padding:15px;
            color:$gray;
            font-size:12px;
            border-radius:0 0 6px 6px;
            border:1px solid $light-gray;
            border-top:none;
        }
        .more {
            width:100%;
            margin-top:10px;
            padding:10px 0;
            text-align:center;
            border:1px solid $light-gray;
            border-radius:6px;
        }
        &.embed {
            .source {
                position:relative;
                padding-bottom:56.25%;
                iframe {
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                }
            }
        }
        &.page {
            .desc {
                margin-top:10px;
                color:$gray;
            }
            .source {
                padding:0 15px 15px;
                border-radius:6px 6px 0 0;
                border:1px solid $light-gray;
                border-bottom:none;
            }
        }
    }
}

.tag {
    margin-top:15px;
    color:$gray;
    a {
        margin-right:10px;
        &:hover {
            text-decoration:underline;
        }
    }
}
.util {
    display:flex;
    margin-top:15px;
    padding-top:20px;
    border-top:1px solid #ccc;
    .liked {
        margin-right:20px;
        .fa-heart {
            color:#f52e4a;
            &:hover {
                transform:rotate(15deg);
            }
        }
    }
    .share {
        flex:1;
        position:relative;
        text-align:right;
        .dropdown {
            width:220px;
            margin-top:10px;
            margin-left:-110px;
            .more {
                position:absolute;
                top:50%;
                right:0;
                width:1em;
                margin-top:-0.5em;
                padding:0;
                text-align:center;
                font-size:2em;
                line-height:1;
                color:$blue;
                [class*="fa-"] {
                    margin-right:0;
                }
                &:hover {
                    color:$black;
                }
            }
        }

    }
    [class*="fa-"] {
        margin-right:5px;
        font-size:1.3em;
    }
    .dropdown [class*="fa-"] {
        font-size:1em;
    }

}

@media screen and (max-width:767px) {
    .dropdown {
        left:auto;
        right:0;
        margin-right:-15px;
    }
    .card {
        margin-bottom:15px;
        padding:15px;
    }
    .user {
        .info {
            padding:0 10px;
        }
    }
    .title {
        margin-top:15px;
    }
    .util {
        padding-top:15px;
    }
    
}