#write {
    display:flex;
    align-items:center;
    justify-content:center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size:36px;
    background-color:rgba(255,255,255,0.8);
    z-index:99;
}