@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button {margin:0;padding:0;font-size:inherit;font-weight:normal}
fieldset,img {border:none}
dl,ul,ol,menu,li {list-style:none}
blockquote,q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
textarea {resize:vertical}
button {border:0 none;background-color:transparent;cursor:pointer}
th,td {color:inherit}
a {color:inherit;text-decoration:none}
a:hover,a:focus,a:active,a:visited {text-decoration:none}
address,caption,cite,code,dfn,em,var,i {font-style:normal;font-weight:normal}
header,footer,menu,nav,aside,main,section,article {display:block;margin:0;padding:0}
img {max-width:100%;vertical-align:middle}
table {width:100%;border-collapse:collapse;border:none}
button,input,select,textarea {font-size:inherit;font-family:'Noto Sans KR','Nanum Gothic','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif;line-height:inherit;color:inherit}
input[type="password"] {font-family:'Noto Sans KR','Nanum Gothic','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif}
/* common */
* {box-sizing:border-box;-moz-box-sizing:border-box}
body {position:relative;direction:ltr;line-height:1.3;font-size:14px;font-family:'Noto Sans KR','Nanum Gothic','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif;color:#343434;word-break:keep-all;background:#f7f8f9}
:focus {outline:none}
.blind {position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;margin:-1px;overflow:hidden;text-align:left;text-indent:-9999em}
.accNav:focus {display:block;top:0;left:50%;width:100px;height:auto;margin:0 0 0 -50px;padding:3px 0;text-align:center;font-size:11px;text-indent:0;color:#fff;background-color:#333;z-index:999}
.clear:after {content:"";display:block;clear:both;}
#content {padding-top:100px;}